:global .p-chip {
  font-size: 14px;
  color: #0e4a63;
  background-color: #e8f2f6;
  border-radius: 8px;
  margin: 0 7px 7px 0;
}

:global .p-chip-text {
  padding: 5px;
}

.skillsText {
  padding-bottom: 15px;
}

.skillsSection {
  padding-bottom: 20px;
}
